.App {
  position: relative;
}

.Sprite {
  position: absolute;
}

.SpriteImage {
  height: 200px;
  width: 200px;
}

.LeftMenuContainer {
  position: absolute;
  min-height: 80vh;
  min-width: 30vh;
  border: solid;
  border-color: black;
  border-width: 10px;
  margin: 2%;
  padding: 1%;
  background-color: bisque;
}

.SpriteField {
  min-height: 100vh;
  min-width: 100vh;
  position: absolute;
}

input[type="text"], [type="number"], [type="color"], [type="date"] {
  border: solid;
  border-color: black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: rgba(245, 245, 220, 0);
  width: 50%;
  margin-bottom: 10%;
}

p {
  margin-bottom: 0;
}

input[type="color"] {
  padding: 0;
}

.RadioInput {}