.App {
  position: relative;
}

.Sprite {
  position: absolute;
  text-align: center;
}

.SpriteImage {
  height: 200px;
  width: 200px;
}

.LeftMenuContainer {
  position: absolute;
  min-height: 80vh;
  min-width: 30vh;
  border: solid;
  border-color: black;
  border-width: 10px;
  margin: 2%;
  padding: 1%;
  background-color: bisque;
}

input[type="text"],
[type="number"],
[type="color"],
[type="date"] {
  font-family: "Tiny5", sans-serif;
  border: solid;
  border-color: black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: rgba(245, 245, 220, 0);
  width: 50%;
  margin-bottom: 3%;
  margin-left: -0.5%;
}

p {
  margin-bottom: 0;
}

input[type="color"] {
  padding: 0;
}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #000000;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  margin-right: 2%;
}

input[type='radio']:checked {
  background: #333;
}

.NationalityContainer {
  margin-bottom: 3%;
}

.submitButton {
  border: solid;
  border-color: black;
  border-width: 5px;
  font-family: "Tiny5", sans-serif;
  background-color: white;
}